 <div class="container">
  <div class="row">
   <div class="col-md-10 col-md-offset-1">
       <div class="page-header">

      <div class="col-md-3 col-sm-4">
        <div class="text-center">
         <%= image_tag @user.avatar, width: '300px',class: "img-responsive center-block" %>
        </div>
       </div>
        
      
      <div class="col-md-9 col-sm-8">
        <div><strong><h1><%= @user.name %></h1></strong></div>
        <div><%= @user.email %></div>
        <div><%= simple_format @user.intro %></div>
        <div><% if @user.email == current_user.email %>
         <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
        <% end %></div> 
      </div>
      <div class="clearfix"></div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong> <%= @commented_restaurants.count %></strong>已評論餐廳</h3>
        </div>
        <div class="panel-body">
          <% @commented_restaurants.each do |restaurant| %>
          <%= link_to restaurant_path(restaurant) do %>
            <div class="my-restaurant">
               <div>
                 <%= image_tag restaurant.image, class: "img-responsive img-rounded" %>    
               </div>  
               <h5><%= restaurant.name %></h5>   
            </div> 
          <% end %>
          <% end %>
        </div>
      </div>

       
      
    </div>
  </div>
</div>
